/* client/src/styles/App.css */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
  text-align: center;
  position: relative;
  width: 100%;
  bottom: 0;
}
