/* client/src/styles/App.css */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
}

.App-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 0;
  width: 100%;
  overflow-y: auto; /* Allow vertical scrolling */
}

.App-header {
  flex: 0 0 auto;
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-footer {
  flex: 0 0 auto;
  background-color: #282c34;
  padding: 10px;
  color: white;
  text-align: center;
  width: 100%;
}
