/* client/src/styles/CategoriesPanel.css */
.CategoriesPanel {
  background-color: transparent;
  margin-top: 20px;
}

.dropdown-container {
  margin-top: 10px;
}

.dropdown-container input[type="text"] {
  width: 100%;
  padding: 6px 10px;
  margin-bottom: 10px;
  border: 1px solid #999;
  border-radius: 4px;
  font-size: 0.9rem;
}

.dropdown-content {
  margin-top: 10px;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #fff;
  color: #000;
  border-radius: 4px;
}