/* client/src/styles/MainBlock.css */
.MainBlock {
  flex: 1;
  display: flex;
  flex-direction: row; /* Map on the left, Data on the right, or row-reverse if you want reversed */
}

.MapArea {
  flex: 2;
  position: relative;
  overflow: hidden;
}

.DataListArea {
  flex: 1;
  padding: 10px;
  background-color: #f0f0f0;
}