.map-container {
  position: relative;
  width: 100%;
  height: 100%;      /* critical */
  display: flex;
}

.map-html-wrapper,
.map-html-wrapper > div,
.map-html-wrapper iframe {
  flex: 1;
  width: 100%;
  height: 100%;
}