/* client/src/styles/MapToolbox.css */
.map-toolbox {
  position: absolute;
  top: 60px;
  left: 10px;
  z-index: 1100;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  width: 200px;
}

.toolbox-list {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
}