/* client/src/styles/Sidebar.css */
.Sidebar {
  width: 300px;
  padding: 20px;
  background-color: #f4f4f4;
  flex-shrink: 0;
}

.Sidebar h2 {
  margin-top: 0;
}

.uploaded-data-dropdown {
  margin-top: 10px;
  list-style: none;
  padding-left: 0;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
}
